@use 'hero';

body {
    font-family: 'Albert Sans', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$backgroundColor;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.image img {
    border-radius: 50%;
    width: 150px; /* ajuste o tamanho da imagem conforme necessário */
    height: auto;
}
